/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.cs"; */

body,html, .mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle 
{
    font-family: Andale Mono, serif;
    background-color: RGBA(46,49,49,1);
    color: white;
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a
{
    color: #333;
    text-decoration: none;
}